<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>学生信息管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="layui/css/layui.css"  media="all">
    <link rel="stylesheet" href="css/adminLogin.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>

<table class="layui-hide" id="test" lay-filter="test"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="select">选课</a>
</script>
<script src="layui/layui.js" charset="utf-8"></script>

<script>
    layui.use('table', function(){
        var table = layui.table;
        table.render({
            elem: '#test'
            ,url:'/course/findnotselect?sno='+[[${session.id}]]
            ,cellMinWidth: 80
            ,title: '课程数据表'
            ,toolbar: '#toolbarDemo'
            ,cols: [
                [
                    {field:'cno', title:'课程号',sort: true,}
                    ,{field:'cname', title:'课程名'}
                    ,{field:'ccredit', title:'学分'}
                    ,{field:'ctime', title:'上课时间'}
                    ,{field: 'ctname', title: '任课教师'}
                    ,{field: 'ctno', title: '教师工号'}
                    ,{field: 'academy', title: '学院', sort: true}
                    ,{fixed: 'right', title:'操作', toolbar: '#barDemo'}
                ]
            ]
            ,page: true
        });
        table.on('tool(test)', function(obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
            if (layEvent === 'select') {
                $.ajax({
                    type:'post',
                    url:window.location.protocol+'//'+window.location.host+"/course/time?cno="+data.cno+"&sno="+[[${session.id}]],
                    contentType:'application/text',
                    success:function (result) {
                        if(result==false){
                            window.location.href ="/student/select?cno="+data.cno+"&sno="+[[${session.id}]];
                        }else {
                            alert("课程冲突，请选择合适的课程")
                        }
                    }
                });
            }
        });
    });
</script>
</body>

</html>